{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <br>
    <form method='post'>
        <label>Title for your new blog:
            <br>
            <input type="text" name='titleNew' value="{{titleNew}}">
        </label>
        <p class="error">{{titleerror}}</p>
        <label>Your new blog:
            <br>
            <textarea name="newEntry" style="width:250px; height:125px;">{{blogText}}</textarea>
        </label>
        <p class="error">{{textError}}</p>
        <input type="submit" value='Add Entry'>
    </form>
{% endblock %}   
